<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ResourceId>/subscriptions/d9170b23-822e-4809-b3b4-7a92216f5bf1/resourcegroups/DataManager20190401094217ResourceGroup/providers/Microsoft.Web/sites/DataManager20190401094217</ResourceId>
    <ResourceGroup>DataManager20190401094217ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://datamanager20190401094217.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ContainerResourceId>/subscriptions/d9170b23-822e-4809-b3b4-7a92216f5bf1/resourcegroups/DataManager20190401094217ResourceGroup/providers/Microsoft.ContainerRegistry/registries/registry20190401094224</ContainerResourceId>
    <ContainerResourceName>registry20190401094224</ContainerResourceName>
    <Subscription>Visual Studio Enterprise – MPN</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://registry20190401094224.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <PublishProvider>AppServiceLinux</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>23977f39-1b77-4881-bdf1-a49caf93c1e5</ProjectGuid>
  </PropertyGroup>
</Project>